.manufacturing{
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.manufacturing-image{
    width: 40%;
}

.manufacturing-text{
    width: 51%;
    padding-left: 2%;
    padding-right: 2%;

}

.manufacturing-text h1{
    border-bottom: 3px solid orangered;
    text-align: center;
}

.lab-image{
    width: 100%;
}