.whyus-data{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.whyus-title{
    color: orangered;
    font-weight: 600;
    font-size: 22px;
    margin-top: 40px;
    width: 100%;
}

.whyus-description{
    color: #151f5f;
    line-height: 1.5;
    font-size: 15px;
    padding: 2%;
    font-weight: 600;
}

.certificates{
    height: 400px;
    width: 300px;
    border: 5px solid #33429F;
    -webkit-box-shadow: 0px 0px 27px -6px rgba(51,66,159,1);
-moz-box-shadow: 0px 0px 27px -6px rgba(51,66,159,1);
box-shadow: 0px 0px 27px -6px rgba(51,66,159,1);
}

.certificates-all{
    display: flex;
    justify-content: space-evenly;
}

.whyus-bg{
    background: url('../assets/company/whyus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.qa-bg{
    background: url('../assets/company/quality.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}