.about-description p{
    color: black;
    border-radius: 10px;
}

.marketing-container-text{
    width: 40%;
}

.about-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.about-title{
    border-bottom: 3px solid orangered;
    font-size: 30px;
    font-weight: 900;
}

.marketing-title{
    border-bottom: 3px solid orangered;
    font-size: 30px;
    font-weight: 900;
}

.aclon-tag{
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-page{
    display: flex;
    padding-left: 7%;
    padding-right: 7%;
    background: url('../assets/company/world-map-background.png');
    background-repeat: no-repeat;
}

.about-page-image{
    margin-top: 50px;
  width: 100%;
}

.about-page-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 50%;
}

.marketing-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 5%;
}